<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

    <!-- {% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/admin-dashboard.css" %}"> -->
    <link rel="stylesheet" href="./../static/css/admin-dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class=" start-0 z-1 d-none d-md-block" id="sidebar">
        <div>
            <img src="./../static/css/images/.png" alt="Venari Logo">
        </div>
        <a href="/admin_dashboard/"><i class="bi bi-bar-chart-fill"></i> Dashboard</a>
        <a href="/companies_list/"><i class="bi bi-buildings-fill"></i> Manage Companies</a>
        <a href="/admin_joblist/"><i class="bi bi-briefcase-fill"></i> Job Listings</a>
        <a href="/jobseeker_list/"><i class="bi bi-person-heart"></i> Job Seekers</a>
        <a href=""><i class="bi bi-printer-fill"></i> Reports</a>

    </div>

    <nav class="navbar navbar-expand navbar-light bg-light-subtle">
        <button class="btn z-2 d-block d-md-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#Id2"
            aria-controls="Id2">
            <i class="bi bi-list fs-3"></i>
        </button>
        <div class="container justify-content-end">
            <span>Welcome, admin</span>

        </div>
    </nav>




    <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="Id2"
        aria-labelledby="staticBackdropLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="staticBackdropLabel">
                Offcanvas
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>


                <div class=" start-0 z-1" id="sidebar">
                    <div>
                        <img src="./../static/css/images/.png" alt="Venari Logo">
                    </div>
                    <a href=""><i class="bi bi-bar-chart-fill"></i> Dashboard</a>
                    <a href=""><i class="bi bi-buildings-fill"></i> Manage Companies</a>
                    <a href=""><i class="bi bi-briefcase-fill"></i> Job Listings</a>
                    <a href=""><i class="bi bi-person-heart"></i> Job Seekers</a>
                    <a href=""><i class="bi bi-printer-fill"></i> Reports</a>

                </div>


            </div>
        </div>
    </div>







    <div id="main">


        <div class="container mt-3">


            <h2>Dashboard</h2>

            <div class="row justify-content-center align-items-center g-lg-3 g-2">
                <div class="col-xl-3 col-md-6 ">
                    <div class="card border-0 d-flex flex-row align-items-center dash-cards" style="min-height: 175px;"
                        id="dash-card1">
                        <div class="row g-0">
                            <div class="card-body">

                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 fs-4 me-3 pb-0">
                                        <i class="bi bi-person"></i>
                                    </div>

                                    <div class="flex-grow-1 text-start">
                                        <h1 class="card-title mb-0 pb-0">{{ all_jobseeker_count }}</h1>
                                        <p class="text-muted dash-card-label pt-0 pb-0 mb-0">
                                            Active Job Seekers
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 ">
                    <div class="card border-0 d-flex flex-row align-items-center dash-cards" style="min-height: 175px;"
                        id="dash-card2">
                        <div class="row g-0">
                            <div class="card-body">

                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 fs-4 me-3 pb-0">
                                        <i class="bi bi-buildings"></i>
                                    </div>

                                    <div class="flex-grow-1 text-start">
                                        <h1 class="card-title mb-0 pb-0">{{ all_companies_count }}</h1>
                                        <p class="text-muted dash-card-label pt-0 pb-0 mb-0">
                                            Active Companies
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 ">
                    <div class="card border-0 d-flex flex-row align-items-center dash-cards" style="height: 175px;"
                        id="dash-card3">
                        <div class="row g-0">
                            <div class="card-body">

                                <div class="d-flex align-items-center">
                                    <div class="flex-shrink-0 fs-4 me-3 pb-0">
                                        <i class="bi bi-newspaper"></i>
                                    </div>

                                    <div class="flex-grow-1 text-start">
                                        <h1 class="card-title mb-0 pb-0">{{ all_post_counts }}</h1>
                                        <p class="text-muted dash-card-label pt-0 pb-0 mb-0">
                                            Active Posts
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card border-0 p-2 align-items-start dash-cards" style="height: 175px;" id="dash-card4">
                        <div class="text-center w-100 p-2 dash-card-label z-1" id="act-logs-label">
                            Activity logs
                        </div>
                        <div class="card-body h-100 w-100 px-2 overflow-x-hidden mt-3 text-wrap">
                            {% for log in logs %}
                            <div class="card px-3 py-2 rounded-2 border-0 dash-act-logs mb-2 text-wrap">
                                <div class="mb-1">
                                    <i class="time-stamp">{{ log.timestamp }}</i> -
                                    <span class="log-level"
                                        style="color: {% if log.log_level == 'INFO' %}green{% elif log.log_level == 'ERROR' %}red{% endif %};">
                                        {{ log.log_level }}
                                    </span>
                                    <div class="text-wrap the-logs text-truncate">
                                        <strong>{{ log.admin_name }}</strong> {{ log.action }}: {{ log.details }}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-12">

                    <div class="row justify-content-center g-lg-3 g-2 ">
                        <div class="col-9 d-flex">
                            <div class="card border-0 overflow-auto p-2 p-lg-4 flex-grow-1 dash-cards"
                                style="max-width: 1080px; height: 417px;" id="dash-card5">
                                <div class="card-body">
                                    <h5 class="card-title">Manage Posts</h5>
                                    <div class="">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col"></th>
                                                    <th scope="col">Company</th>
                                                    <th scope="col">Job Title</th>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for post in all_post %}
                                                <tr>
                                                    <th scope="row">{{ forloop.counter }}</th>
                                                    <td>{{ post.company.company_name }}</td>
                                                    <td>{{ post.title }}</td>
                                                    <td>
                                                        Activated
                                                    </td>
                                                    <td>
                                                        
                                                        <!-- ========== Start Activate/Deactivate Button ========== -->
                                                        <div class="row justify-content-center align-items-center g-2">
                                                            <div class="col" title="View">
                                                                <button class="btn col-12 btn-primary btn-sm" data-bs-toggle="modal"
                                                                data-bs-target="#activateModal">
                                                                    <i class="bi bi-check-lg">
                                                                    </i>
                                                                </button>
                                                            </div>

                                                            <div class="col" title="Archive">
                                                                <button role="button"
                                                                    class="btn col-12 btn-danger btn-sm" data-bs-toggle="modal"
                                                                    data-bs-target="#deactivateModal">
                                                                    <i class="bi bi-x-lg" >
                                                                    </i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <!-- ========== End Activate/Deactivate Button ========== -->


                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row justify-content-center align-items-center g-lg-3 g-2">
                                <div class="col-12">

                                    <div class="card border-0 p-0 pt-3 dash-cards" style="height: 200px;"
                                        id="dash-card6">

                                        <div class="text-center w-100 p-2 dash-card-label z-1" id="company-list-label">
                                            List of Companies
                                        </div>

                                        <div class="card-body px-0">
                                            {% for company in all_companies %}

                                            <div class="card px-3 py-0 rounded-2 border-0 mb-2 m-0 company-list-card">
                                                <div class="d-flex align-items-center text-start justify-content-start">
                                                    <div class="flex-shrink-0 ms-0">
                                                        <img src="./../static/css/images/job.png"
                                                            class="d-none d-lg-block" alt="..." style="height: 20px;">
                                                    </div>
                                                    <div class="flex-grow-1 ms-2 text-truncate company-name">
                                                        {{ company.company_name }}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">

                                    <div class="card border-0 p-0 pt-3 dash-cards" style="height: 200px;"
                                        id="dash-card7">

                                        <div class="text-center w-100 p-2 dash-card-label z-1" id="users-list-label">
                                            List of Users
                                        </div>

                                        <div class="card-body px-0">
                                            {% for applicants in all_applicants %}

                                            <div class="card px-3 py-0 rounded-4 border-0 mb-2 user-list-card">
                                                <div class="d-flex align-items-center text-start justify-content-start">
                                                    <div class="flex-shrink-0">
                                                        <img src="./../static/css/images/job.png"
                                                            class="d-none d-lg-block" alt="..." style="height: 20px;">
                                                    </div>

                                                    <div class="flex-grow-1 ms-3 text-truncate user-list-name">
                                                        {{ applicants.user.first_name }} {{applicants.user.last_name}}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <!-- Activate modal -->
    <div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-labelledby="activateModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activateModalTitle">
                        Activate this post
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to activate this post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        No
                    </button>
                    <button type="button" id="confirm_activation" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Deactivate modal -->
    <div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="deactivateModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deactivateModalTitle">
                        Dectivate this post
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to deactivate this post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        No
                    </button>
                    <button type="button" id="confirm_deactivation" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>




    <!-- <script>
        var sidebarVisible = true; // Track the state of the sidebar

        function sidebarTrigger() {
            var sidebar = document.getElementById("sidebar");

            if (sidebarVisible) {
                sidebar.style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            } else {
                sidebar.style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            sidebarVisible = !sidebarVisible; // Toggle the state
        }
    </script> -->
</body>

</html>