{% comment %} =========================================================== {% endcomment %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./../static/css/admin_joblist.css">

</head>

<body class="">
    <!-- Sidebar -->

    <div>

        {% include 'adminSB_NB.html' %}

    </div>

    <div id="admin-joblist-main">


        <div class="container mx-auto py-1">

            <div class="card job-list-cards" id="head-parent-card">
                <div class="row justify-content-center align-items-center g-2">
                    <div class="col-md-4">
                        <div class="col-12">
                            <div class="card border-0 d-flex flex-row align-items-center job-list-cards"
                                style="min-height: 175px;" id="job-list-card1">
                                <div class="row g-0">
                                    <div class="card-body">

                                        <div class="d-flex align-items-center">
                                            <div class="flex-shrink-0 fs-4 me-3 pb-0">
                                                <i class="bi bi-newspaper"></i>
                                            </div>

                                            <div class="flex-grow-1 text-start">
                                                <h1 class="card-title mb-0 pb-0">{{job.active_pos}}</h1>
                                                <p class="text-muted dash-card-label pt-0 pb-0 mb-0">
                                                    Active Posts
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 ps-md-2">
                        <h3 class="fw-bolder mb-4" id="headJobList">
                            Job Listings</h3>


                        <div class="col-12">
                            <!-- Search -->
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="" aria-label="Button"
                                    aria-describedby="" />
                                <button class="btn btn-secondary" type="button" id="job-list-search-btn">
                                    <i class="bi bi-search"></i><span class="ms-2 d-none d-md-inline">Search</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Table -->
            <div class="card border-0 overflow-auto p-2 p-lg-4 flex-grow-1 comp-list-cards" style="height: 417px;"
                id="job-list-table-card">

                <div class="container mt-4">
                    {% for message in messages %}
                    <div class="alert alert-success" id="msg" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %}
                    <table class="table table-hover" id="job_list_admin">
                        <thead>
                            <tr>
                                <th>Job Title</th>
                                <th>Company Name</th>
                                <th>Job Type</th>
                                <th>Date Created</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th>Change Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for job in jobs %}
                            <tr>
                                <td>{{job.title}}</td>
                                <td>{{job.company.company_name}}</td>
                                <td>{{job.jobtype}}</td>
                                <td>{{job.creation_date}}</td>
                                <td>{{job.status}}</td>
                                <td>
                                    <div class="row justify-content-center align-items-center g-2">
                                        <div class="col">
                                            <a href="/admin_edit_jobpost/{{job.id}}/" id="joblistEditButton" class="btn btn-primary"
                                                title="Edit" data-bs-toggle="modal" data-bs-target="#editJobModal"><i
                                                    class="bi-pencil-fill"></i>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <a class="btn btn-danger" title="Delete" id="joblistDeleteButton" data-bs-toggle="modal"
                                                data-bs-target="#joblistDeleteModal"><i class="bi-trash-fill"></i>
                                            </a>
                                        </div>
                                    </div>


                                </td>

                                <td>
                                    <!-- <a href="/admin_changejob_status/{{job.id}}/" class="btn btn-warning">
                                        <i class="bi-pencil-square"></i>
                                    </a> -->

                                    <!-- ========== Start Activate/Deactivate Button ========== -->
                                    <div class="row justify-content-center align-items-center g-2">
                                        {% if job.status != 'Activate' %}
                                        <div class="col-md-6" title="View">
                                            <button id="activateButton"
                                                class=" activateButton btn col-12 btn-primary btn-sm"
                                                data-bs-toggle="modal" data-bs-target="#activateModal"
                                                data-post-id="{{post.id}}" data-status="Activate">
                                                <i class="bi bi-check-lg">
                                                </i>
                                            </button>
                                        </div>
                                        {% endif %}
                                        {% if job.status == 'Activate' %}
                                        <div class="col-md-6" title="Deactivate">
                                            <button id="deactivateButton" role="button"
                                                class="btn col-12 btn-danger btn-sm" data-bs-toggle="modal"
                                                data-bs-target="#deactivateModal" data-post-id="{{post.id}}"
                                                data-status="Deactivate">
                                                <i class="bi bi-x-lg">
                                                </i>
                                            </button>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <!-- ========== End Activate/Deactivate Button ========== -->
                                </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div><!-- Table -->





            <script>
                $(document).ready(function () {
                    $('#job_list_admin').DataTable({
                        order: [
                            [0, 'asc']
                        ],
                        dom: 'Bfrtip',
                        buttons: [
                            'copyHtml5',
                            'excelHtml5',
                            'csvHtml5',
                            'pdfHtml5'
                        ],
                        columnDefs: [{
                            'targets': [0, 1, 2, 4],
                            'orderable': false,
                        }],
                        orderCellsTop: true,
                        initComplete: function () {

                            var table = this.api();

                            // Add filtering
                            table.columns(2).every(function () {
                                var column = this;

                                var select = $(
                                        '<select class="datatableselect"><option value="">Job Type</option></select>'
                                    )
                                    .appendTo($("thead tr:eq(0) th").eq(this.index()))
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true,
                                                false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d +
                                        '</option>')
                                });

                            });
                            table.columns(1).every(function () {
                                var column = this;

                                var select = $(
                                        '<select class="datatableselect"><option value="">Job Title</option></select>'
                                    )
                                    .appendTo($("thead tr:eq(0) th").eq(this.index()))
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true,
                                                false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d +
                                        '</option>')
                                });

                            });
                            table.columns(4).every(function () {
                                var column = this;

                                var select = $(
                                        '<select class="datatableselect"><option value="">Status</option></select>'
                                    )
                                    .appendTo($("thead tr:eq(0) th").eq(this.index()))
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true,
                                                false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d +
                                        '</option>')
                                });

                            });
                        }
                    })
                });
            </script>



            <!-- Pagination -->
            <div class="mt-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>


    <!-- ========== Start Section delete modal ========== -->
    <!-- Modal trigger button -->

    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="joblistDeleteModal" tabindex="-1" role="dialog"
        aria-labelledby="joblistDeleteModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joblistDeleteModalTitle">
                        Delete this Job
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to delete this Job?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        No
                    </button>
                    <a type="button" class="btn btn-primary">Yes</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional: Place to the bottom of scripts -->
    <script>
        const myModal = new bootstrap.Modal(
            document.getElementById("joblistDeleteModal"),
            options,
        );
    </script>

    <!-- ========== End Section delete modal ========== -->



    <!-- Activate modal -->
    <div class="modal fade" id="activateModal" tabindex="-1" role="dialog" aria-labelledby="activateModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="activateModalTitle">
                        Activate this post
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to activate this post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        No
                    </button>
                    <button type="button" id="confirm_activation" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Deactivate modal -->
    <div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="deactivateModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deactivateModalTitle">
                        Dectivate this post
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to deactivate this post?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        No
                    </button>
                    <button type="button" id="confirm_deactivation" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ========== Start Section admin edit job post modal ========== -->

    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div class="modal fade" id="editJobModal" tabindex="-1" role="dialog" aria-labelledby="editJobModalTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editJobModalTitle">
                        Edit job
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form class="container mt-3" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Job Title</label>
                                <input type="text" class="form-control mt-1" name="job_title" id="job_title"
                                    value="{{job.title}}" required>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label>Start Date</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{job.start_date}})
                                <input type="date" class="form-control mt-1" name="start_date" id="start_date">
                            </div>
                            <div class="form-group col-md-6">
                                <label>End Date</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;({{job.end_date}})
                                <input type="date" class="form-control mt-1" name="end_date" id="end_date">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label>Experience (in years)</label>
                                <input type="text" class="form-control mt-1" name="experience" id="experience"
                                    value="{{job.experience}}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Salary (per month)</label>
                                <input type="tel" class="form-control mt-1" name="salary" id="salary"
                                    value="{{job.salary}}" required>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label>Skills Required</label>
                                <input type="text" class="form-control" name="skills" id="skills"
                                    placeholder="Enter the required skills for the job" value="{{job.skills}}" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Job Type</label>
                                <select name="jobtype" id="jobtype" class="form-control" required>
                                    <option value="Part-Time">Part-Time Job</option>
                                    <option value="Full-Time">Full-Time Job</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="form-group col-md-12">
                                <label>Company Location</label>
                                <input type="text" class="form-control mt-1" name="location" id="location"
                                    value="{{job.location}}" required>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="form-group col-md-12">
                                <label>Job Description</label>
                                <textarea name="description" id="description" class="form-control mt-1" cols="30"
                                    rows="4" required>{{job.description}}</textarea>
                            </div>
                        </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ========== End Section admin edit job post modal ========== -->



</body>

</html>