{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
    <title>LOGIN</title>
</head>
<body>
  {% if messages %}
  <div id="alertContainer" class="alert-container">
      {% for message in messages %}
          <div class="alert alert-danger">{{ message }}</div>
      {% endfor %}
  </div>
{% endif %}
    <h1 class="app-name">venari.</h1>
    <div id="form" class="form">
        <div id="heading" class="glass glass--gradient glass--heading">
          
          <span class="form-header">
            <span class="form-icon"></span><span class="form-title">Ready to start your career path with Venari?</span> </span>
          <button class="form-close-button">✕</button>
        </div>
        <div id="input" class="glass">
          <input type="text" id="glass-input" placeholder="Type your request here">
        </div>
      </div>
    <!-- <p class="tagline">Crafting Futures, Connecting Paths</p> -->
    <!-- <div class="image-container">
        <img src="picHome.png">
    </div> -->
    <div class="login-container">
        <form class="login" method = "POST">
          {% csrf_token %}
            <h1 class="login-title">Login</h1>
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <button>Log in</button>
            <a href="#" class="login__forgot">Forgot Password?</a>
            <!-- <a href="#" class="login__register">New account? Register now.</a> -->
        </form>

    </div>
    <script src="login.js"></script>
    <script>
      // Display messages as alerts
      var alertContainer = document.getElementById("alertContainer");
      var alerts = alertContainer ? alertContainer.getElementsByClassName("alert") : [];
  
      for (var i = 0; i < alerts.length; i++) {
          alert(alerts[i].innerText);
      }
  
      // Clear messages after displaying alerts
      var messagesContainer = document.getElementById("alertContainer");
      if (messagesContainer) {
          messagesContainer.innerHTML = '';
      }
  </script>
</body>
</html>