<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Website</title>
    <!-- Include the Tailwind CSS stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./../static/css/cdash.css">

    
</head>
<body>


    <div>
        {% include 'companiesSB_NB.html' %}
    </div>

    <!-- Content Goes Here -->

    <div class=" flex" id="main">

        <div class="flex-1 p-4">

            <div class="flex items-center">
                <div class="font-bold my-4 text-xl">List of Posted Jobs</div>
                <div class="font-semibold my-4 ml-3 text-gray-400">{{ job_posted_count }}</div>
                <button
                    type="button"
                    class="btn btn-primary ml-auto"
                    
        data-bs-toggle="modal"
        data-bs-target="#createPost"
                >
                    Create Post
                </button>
                

                
            </div>


            {% for job in jobs %}
            {% if job.status == "Activate" %} 
            <div class="container ml-3 mr-3 mt-3 grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
            
                <!-- JOB CARD -->
                <div class="bg-white p-4 sm:p-6 rounded-lg shadow-md w-full">
                    <!-- First Row -->
                    <div class="flex items-center my-2">
                        <img src="{{company.company_logo.url}}" alt="Job Icon" class="rounded-full w-8 sm:w-10 h-8 sm:h-10 mr-2">
                        <p class="text-gray-400 font-bold text-xs mb-2 text-right ml-auto"> </p>
                    </div>

                    <!-- Second Row -->
                    <div class="flex items-center">
                        <h2 class="text-base sm:text-lg font-semibold mb-2"> {{job.title}}</h2>
                        <p class="text-blue-500 font-bold mb-2 text-xs text-right ml-auto">{{applicant_count}} Applicant</p>
                    </div>

                    <!-- Available Employment Type for Specific Position -->
                    <div class="flex my-2">
                        {% if job.jobtype == "Full-Time" %}
                            <p class="text-blue-600 bg-blue-200 font-semibold mb-2 rounded-full px-1 sm:px-2 py-1 mr-1 text-xs">Full-time</p>
                        {% elif job.jobtype == "Part-Time" %}
                            <p class="text-green-600 bg-green-200 font-semibold mb-2 rounded-full px-1 sm:px-2 py-1 mr-1 text-xs">Part-time</p>
                        {% elif job.jobtype == "freelance" %}
                            <p class="text-pink-600 bg-pink-200 font-semibold mb-2 rounded-full px-1 sm:px-2 py-1 text-xs">Freelance</p>
                        {% endif %}
                    </div>
                    

                    <!-- Location -->
                    <p class="text-gray-800 mb-2 font-bold text-justify text-xs sm:text-sm"> {{job.location}}</p>

                    <!-- Description -->
                    <p class="text-gray-700 mb-4 text-justify text-xs"> {{job.description}}</p>

                    <!-- Buttons -->
                    <div class="flex justify-center">
                        <button class="seeDetailsBtn font-semibold text-gray-700 ml-auto mt-3 text-xs sm:text-sm">See Details</button>

                        <!-- MODAL -->
                        <div id="myModal" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden">
                            <div id="con" class="h-3/4 w-3/5 bg-white rounded-md p-5 overflow-auto">
                                <!-- Close Button -->
                                <button id="closeBtn" class="float-right text-gray-600 hover:text-gray-800">
                                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                                    </svg>
                                </button>


                                <!-- Tabs -->
                                <div class="flex pt-5 border-b-2">
                                    <button id="tab1" class="px-4 py-2 border-b-2 border-blue-500 text-blue-500 rounded-t-lg">Post Details</button>
                                    <button id="tab2" class="px-4 py-2 border-b-2 border-transparent text-gray-500 ml-4">List of Applicants</button>
                                </div>

                                <!-- Tab content -->
                                <div id="tab1Content" class="tab-content items-center">

                                    <div class="flex items-center">
                                        <div class="text-3xl font-bold"> {{job.title}}</div>
                                        <button id="editPostButton" class="text-blue-500 font-semibold text-xs ml-auto pr-5">Edit Post</button>
                                    </div>
                                    
                                    
                                    <div class="flex text-gray-600 items-center mt-2">
                                        <div> {{job.location}}</div>
                                        <div class="px-1">•</div>

                                        <div class="italic text-blue-600 bg-blue-200 rounded-full px-1"> {{job.type}}</div>
                                    </div>



                                
                                        <div class="flex flex-col md:flex-row items-start md:items-center">
                                            <div class="w-full md:w-1/2">
                                                <div class="font-semibold text-lg mt-4">Start & End Dates: </div>
                                                <div class="text-m italic"> {{job.start_date}} -  {{job.end_date}}</div>
                                            </div>

                                            <div class="w-full md:w-1/2 md:pl-5 mt-4 md:mt-0">
                                                <div class="flex font-semibold text-lg mt-3">
                                                    <div>Required Experience</div>
                                                    <div class="ml-1 italic">(in Years)</div>
                                                </div>
                                                <div class="text-m italic">{{job.experience}}</div>
                                            </div>
                                        </div>




                                        <div class="flex flex-col md:flex-row">
                                            <div class="w-full md:w-1/2">
                                                <div class="font-semibold text-lg mt-3">Skills Required</div>
                                                <div class="flex flex-col md:flex-row">
                                                    <div class="w-full md:w-1/2 text-m italic">
                                                        <div> {{job.skills}}</div>
                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        
                                            <div class="w-full md:w-1/2 md:pl-5 mt-4 md:mt-0">
                                                <div class="font-semibold text-lg mt-3">Salary</div>
                                                <div class="text-m italic"> {{job.salary}}</div>
                                            </div>
                                        </div>
                                        
                                    
                                    
                                    <div class="font-semibold text-lg mt-3">Job Description</div>
                                    <div class="text-xs sm:text-sm md:text-base text-justify">
                                        {{job.description}}
                                    </div>





                                    <div id="editPost" class="hidden">
                                        
                                    </div>

                                    

                                </div>

                                <div id="tab2Content" class="tab-content mt-5 hidden">
                                    {% for applicant in applicants %}
                                    <form class="container mt-4" method="POST" action="{% url 'company_accept_applicant' myid=applicant.id %}">
                                    {% csrf_token %}
                                    <div class="flex flex-col md:flex-row items-start md:items-center">
                                        <div class="text-base md:text-lg w-full md:w-1/4 mb-4 md:mb-0">{{ applicant.email }}</div>
                                        <div class="flex justify-start md:justify-end flex-wrap mb-1 w-full md:w-3/4 ml-auto pr-5 items-center">
                                            <button type="button" class="text-sm md:text-base rounded-md px-2 mb-2 md:mb-0" style="background-color: #898DFF;" 
                                            {% if applicant.resume %} onclick="viewResume('{{ applicant.resume.url }}')" 
                                            {% else %} disabled {% endif %}>
                                                {% if applicant.resume %} <i class="bi bi-file-earmark-person-fill"></i> {% else %} No Resume Available {% endif %}
                                            </button>                                            {% if applicant.status != 'hire' %}
                                            <button type="submit" class="text-sm md:text-base rounded-md ml-1 px-2 mb-2 md:mb-0" name="status" style="background-color: rgb(85, 245, 120);" value="hire">Accept</button>
                                            <button type="submit" class="text-sm md:text-base rounded-md ml-1 px-2 mb-2 md:mb-0" name="status" style="background-color: #f0473b;" value="reject">Reject</button>
                                            {% endif %}
                                            <button type = "button" class="text-sm md:text-base rounded-md ml-1 px-2 mb-2 md:mb-0" style="background-color: #FB675F;"><i class="bi bi-archive"></i></button>                                           
                                        </div>
                                    </form>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}



                        </div> <!-- MODAL -->
                        
                    </div>
                </div>








                <script>
                    // dropdown fnction in profile
                    document.addEventListener('DOMContentLoaded', function() {
                        // JavaScript to toggle the visibility of the dropdown
                        document.addEventListener('click', function(event) {
                            var dropdown = document.querySelector('.dropdown-content');
                            var button = document.querySelector('.dropdown-button');

                            if (button && dropdown && (button.contains(event.target) || dropdown.contains(event.target))) {
                                dropdown.classList.toggle('hidden');
                            } else if (dropdown && !dropdown.classList.contains('hidden')) {
                                dropdown.classList.add('hidden');
                            }
                        });
                    });

                    // open and close function for the modal in see details button
                    const seeDetailsBtns = document.querySelectorAll('.seeDetailsBtn');
                    const closeBtn = document.getElementById('closeBtn');
                    const modal = document.getElementById('myModal');

                    seeDetailsBtns.forEach(btn => {
                        btn.addEventListener('click', () => {
                            modal.classList.remove('hidden');
                        });
                    });

                    closeBtn.addEventListener('click', () => {
                        modal.classList.add('hidden');
                        // Show tab1Content and hide tab2Content when the modal is closed
                        document.getElementById('tab1Content').classList.remove('hidden');
                        document.getElementById('tab2Content').classList.add('hidden');
                    });

                        //adjust color for active tab title
                        document.getElementById('tab1').addEventListener('click', function() {
                            document.getElementById('tab1').classList.add('border-blue-500', 'text-blue-500');
                            document.getElementById('tab1').classList.remove('border-transparent', 'text-gray-500');
                            document.getElementById('tab2').classList.add('border-transparent', 'text-gray-500');
                            document.getElementById('tab2').classList.remove('border-blue-500', 'text-blue-500');
                        });
                        
                        document.getElementById('tab2').addEventListener('click', function() {
                            document.getElementById('tab2').classList.add('border-blue-500', 'text-blue-500');
                            document.getElementById('tab2').classList.remove('border-transparent', 'text-gray-500');
                            document.getElementById('tab1').classList.add('border-transparent', 'text-gray-500');
                            document.getElementById('tab1').classList.remove('border-blue-500', 'text-blue-500');
                        });

                        //for modification of presented tabs in modal
                        document.getElementById('tab1').addEventListener('click', function() {
                            document.getElementById('tab1Content').classList.remove('hidden');
                            document.getElementById('tab2Content').classList.add('hidden');
                        });
                        
                        document.getElementById('tab2').addEventListener('click', function() {
                            document.getElementById('tab2Content').classList.remove('hidden');
                            document.getElementById('tab1Content').classList.add('hidden');
                        });

                        function viewResume(resumeUrl) {                          
                            window.open(resumeUrl, '_blank');
                          }



                        const openPostJob = document.getElementById('openPostJob');
                        const closePostJob = document.getElementById('closePostJob');
                        const postJobModal = document.getElementById('postJobModal');

                        openPostJob.addEventListener('click', () => {
                        postJobModal.classList.remove('hidden');
                        });

                        closePostJob.addEventListener('click', () => {
                        postJobModal.classList.add('hidden');
                        });
                                    </script>
            
        </div>
    </div>

    <!-- Modal trigger button -->
    
    <!-- Modal Body -->
    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
    <div
        class="modal fade"
        id="createPost"
        tabindex="-1"
        
        role="dialog"
        aria-labelledby="createPostTitle"
        aria-hidden="true"
    >
        <div
            class="modal-dialog modal-dialog-scrollable modal-dialog-centered"
            role="document"
        >
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitleId">
                        Create Post
                    </h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                </div>
                <div class="modal-body">
                    <form class="container mt-3" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                    
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label>Job Title</label>
                                <input type="text" class="form-control" name="job_title" id="job_title" placeholder="Job Title" required>
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label>Start Date</label>
                                <input type="date" class="form-control" name="start_date" id="start_dates" placeholder="Start Date" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>End Date</label>
                                <input type="date" class="form-control" name="end_date" id="end_date" placeholder="End Date" required>
                            </div>
                        </div>
                    
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label>Experience (in years)</label>
                                <input type="text" class="form-control" name="experience" id="experience" placeholder="Experience required (in years)" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Salary (per month)</label>
                                <input type="tel" class="form-control" name="salary" id="salary" placeholder="Enter Salary (per month)" required>
                            </div>
                        </div>
                    
                        <div class="row mt-3">
                            <div class="form-group col-md-6">
                                <label>Skills Required</label>
                                <input type="text" class="form-control" name="skills" id="skills" placeholder="Enter the required skills for the job" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Job Type</label>
                                <select name="jobtype" id="jobtype" class="form-control" required>
                                    <option value="Part-Time">Part-Time Job</option>
                                    <option value="Full-Time">Full-Time Job</option>
                                </select>
                            </div>
                            </div>
                        
                        <div class="row mt-3">
                            <div class="form-group col-md-12">
                                <label>Company Location</label>
                                <input type="text" class="form-control" name="location" id="location" placeholder="Enter exact location of the Company" required>
                            </div>
                        </div>
                    
                        <div class="row mt-3">
                            <div class="form-group col-md-12">
                                <label>Job Description</label>
                               <textarea name="description" id="description" class="form-control" cols="30" rows="4" placeholder="Description of the exact job" required></textarea>
                            </div>
                        </div>
                    <input type="submit" value="Submit" class="btn mt-3" style="background-color: #4f868c; color: white; font-size: larger; width: 8rem;">
                    </form>
                    
                    
                </div>
                <div class="modal-footer">
                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                    >
                        Close
                    </button>
                    {% comment %} <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        Submit
                    </button> {% endcomment %}
                    
                </div>
            </div>
        </div>
    </div>
    
    <!-- Optional: Place to the bottom of scripts -->
    <script>
        const myModal = new bootstrap.Modal(
            document.getElementById("createPost"),
            options,
        );
    </script>
    

    </div>

</body>
</html>



