<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'pre-register.css' %}" />
    <title>WELCOME TO VENARI</title>
  </head>
  <body>
    <div class="container">
      <div class="jobseeker-container">
        <div class="image-container">
          <img src="job-seeker.png" />
        </div>
        <div class="info-jobseeker">
          <h1 class="info-title">JOB SEEKER</h1>
          <p class="info-text">Looking to find a work</p>
          <button>Create an account →</button>
        </div>
      </div>
      <div class="mid-container">
        <h1 class="app-name">venari.</h1>
        <img class="mid-pic" src="picHome.png" />
      </div>
      <div class="jobprovider-container">
        <div class="image-container">
          <img src="job-provider.png" />
        </div>
        <div class="info-jobprovider">
          <h1 class="info-title">JOB PROVIDER</h1>
          <p class="info-text">Looking for amazing hires</p>
          <button>Start hiring today →</button>
        </div>
      </div>
    </div>
    <script src="pre-register.js"></script>
  </body>
</html>
