{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/pre-register.css' %}" />
    <title>WELCOME TO VENARI</title>
  </head>
  <body>
    <div class="container">
      <div class="jobseeker-container">
        <div class="image-container">
          <img src="{% static 'css/images/job-seeker.png' %}" />
        </div>
        <div class="info-jobseeker">
          <h1 class="info-title">JOB SEEKER</h1>
          <p class="info-text">Looking to find a work</p>
          <button id="createAccountButton">Create an account →</button>
        </div>
      </div>
      <div class="mid-container">
        <h1 class="app-name">venari.</h1>
        <img class="mid-pic" src="{% static 'css/images/picHome.png' %}" />
      </div>
      <div class="jobprovider-container">
        <div class="image-container">
          <img src="{% static 'css/images/job-provider.png' %}" />
        </div>
        <div class="info-jobprovider">
          <h1 class="info-title">JOB PROVIDER</h1>
          <p class="info-text">Looking for amazing hires</p>
          <button id="createAccountCompany">Start hiring today →</button>
        </div>
      </div>
    </div>
    <script src="pre-register.js"></script>
    <script>
      document.getElementById('createAccountButton').addEventListener('click', function() {
        window.location.href = "/register-user/";
      });
      document.getElementById('createAccountCompany').addEventListener('click', function() {
        window.location.href = "/register-company/";
      });
    </script>
  </body>
</html>
