{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Venari</title>
        <link rel="stylesheet" href="{% static "css/venarihomepage.css" %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
        <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>

    <body>
        <section class="header">
            <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">VENARI</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

<div class="text-box">
    <h1 style="color: #8b50ff;">Search, Apply and <br> get your Dream Job</h1> 
    <p style="color: rgb(0, 0, 0);">Start you hunt for the best, life-changing career opportunities from her in your
        <br>selected areas conviniently and get fired quickly.

    </p>
    <a href="" class="hero-btn">Browse Jobs </a>
</div>

        </section>

<!---next-->

<section class="aboutus" style="background-color: rgb(255, 255, 255);">
    <h1 style="color: #000000;">Learn more about us!</h1>
    <p> Welcome to Venari, your go-to destination for connecting talent with opportunities in the ever-evolving job market.
        <br>We understand the challenges of job hunting and the importance of finding the right fit for both candidates and employers. 
        <br>Our community is built on the principles of collaboration, support, and empowerment.
        </p>
    <div class="about">
    <div class="row">
        <div class="box">
            <h3>Our Community</h3> 
            <img class= "comm" src="{% static "css/images/community.png" %}" alt="Job Portal Logo">
            <p>Engage in a supportive network of professionals, 
                access valuable career resources, and stay informed 
                on industry trends. 
            </p>
            </div>
        <div class="box">
            <h3>Our Jobs</h3>
            <img class= "job" src="{% static "css/images/job.png" %}" alt="Job Portal Logo">
            <p>Our purpose extends beyond job listings; we aim to foster 
                a supportive community, providing resources and insights 
                to guide users towards fulfilling careers.
                </p>
            </div>
        <div class="box">
            <h3>Our History</h3>
            <img class= "hist" src="{% static "css/images/history.png" %}" alt="Job Portal Logo">
            <p>Established with a vision to 
                bridge the gap between talent and opportunity, 
                we've been facilitating connections that fuel 
                professional growth since 2023.
                </p>
            </div>
        </div>
    </div>
</div>  

</section>  

<!---testimonials new-->
<section>
<div class="testimonialss">
<div class="wrapper">
    <h1 style="color: aliceblue;"> Client Reviews and Testimonials </h1>
    <h5> what they say about us...</h5>

    <div class="cards">
        <div class="card" style="background-color: #000000a9;">
            <img src="user1.jpg">
            <p>Established with a vision to 
                bridge the gap between talent and opportunity, 
                we've been facilitating connections that fuel 
                professional growth since 2023.
                </p>
                <h2>Elia Margarete</h2>
                <h4>Financial Advisor</h4>
                <i class="fa fa-quote-left"></i>
        </div>

        <div class="card" style="background-color: #000000a9;">
            <img src="user2.jpg">
            <p>Established with a vision to 
                bridge the gap betwesen talent and opportunity, 
                we've been facilitating connections that fuel 
                professional growth since 2023.
                </p>
                <h2>Sandra Bullock</h2>
                <h4>IT Expert</h4>
                <i class="fa fa-quote-left"></i>
        </div>

        <div class="card" style="background-color: #000000a9;">
            <img src="user1.jpg">
            <p>Established with a vision to 
                bridge the gap between talent and opportunity, 
                we've been facilitating connections that fuel 
                professional growth since 2023.
                </p>
                <h2>John Tomas</h2>
                <h4>Software Engineer</h4>
                <i class="fa fa-quote-left"></i>
        </div>

    </div>

    <div class="cards">
        <div class="card" style="background-color: #000000a9;">
            <img src="user1.jpg">
            <p>Established with a vision to 
                bridge the gap between talent and opportunity, 
                we've been facilitating connections that fuel 
                professional growth since 2023.
                </p>
                <h2>Elia Margarete</h2>
                <h4>Financial Advisor</h4>
                <i class="fa fa-quote-left"></i>
        </div>

        <div class="card" style="background-color: #000000a9;">
            <img src="user2.jpg">
            <p>Established with a vision to 
                bridge the gap betwesen talent and opportunity, 
                we've been facilitating connections that fuel 
                professional growth since 2023.
                </p>
                <h2>Sandra Bullock</h2>
                <h4>IT Expert</h4>
                <i class="fa fa-quote-left"></i>
        </div>

        <div class="card" style="background-color: #000000a9;">
            <img src="user1.jpg">
            <p>Established with a vision to 
                bridge the gap between talent and opportunity, 
                we've been facilitating connections that fuel 
                professional growth since 2023.
                </p>
                <h2>John Tomas</h2>
                <h4>Software Engineer</h4>
                <i class="fa fa-quote-left"></i>
        </div>

    </div>

    </div>
</div>







</section>


<!---footer-->

<footer>
    <div class="container">
        <div class="footer-content">
            <h3>Contact Us</h3>
            <p>Email:Venari2023@gmail.com</p>
            <p>Phone:+63 232 2876 739</p>
            <p>Address:Bulacan State University</p>
        </div>
        <div class="footer-content">
            <h3>Quick Links</h3>
            <ul class="list">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Job Services</a></li>

            </ul>
        </div>
        <div class="footer-content">
            <h3>Follow Us</h3>
            <ul class="social-icons">
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            <li><a href=""><i class="fab fa-linkedin"></i></a></li>
       </ul> 
    </div>
    </div>
    <div class="botton-bar">
        <p>&copy; 2023 VENARI. All Rights Reserved </p>
    </div>
</footer>

    </body>
</html>