body{
    background-image: url(./../css/images/blobBG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
  


    color: #20272F;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}


#main {
    transition: margin-left .5s;
    margin-left: 275px;
}

@media (max-width: 768px) {
    #main {
        margin-left: 0px;
    }
}