@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
  margin: 0; /* Remove default margin */
    height: 100vh; /* Set height to 100% of the viewport height */
    background-image: url("images/plain bg.jpg");
    background-size: cover;
    background-repeat: repeat;
    background-position: center;  
}

.card-pink {
  position: relative;
  top: 100;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  color: #ffffff;
  background-size: cover; /* Ensure the background image covers the entire element */
  background-position: center center; /* Center the background image */
  display: flex;
  background-image: url("images/7826149.jpg");
  /*background-image: linear-gradient(to right, rgb(236, 151, 179), rgb(255, 174, 150));*/
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 10px;
  /*box-shadow: 0px 10px 0px #7275d5;*/
}

  
/* Add custom CSS for the dropdown button width */

.btn-outline-secondary {
  width: 100%; /* Set the width as needed */
  padding: 10px;
  background: #fff;
  border-radius: 50px;
  border: none; /* Add a border */
  color:#122238;
  text-align: left;
}
.form-control{
  width: 100%; /* Set the width as needed */
  padding: 10px;
  background: #fff;
  border-radius: 50px;
  border: 3px; /* Add a border */
  color: #fb675f; /* Add text color */

}
.text-center {
  font-weight: bold;
  font-size: 50px;
  /*background: linear-gradient(45deg, #d063ff, #e85ecf);*/
  color: #fff;
}

label {
  font-size: 12px; /* Change the font size as needed */
}
.dropdown-menu {
  margin-top: 10px;
  width: 100%; /* Set the width as needed */
  max-width: 300px; /* Set a maximum width if desired */
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #ffffff; /* Add a border */
  color: #122238; /* Add text color */
  box-shadow: 0 10px 20px rgba(28, 27, 50, 0.2); /* Add box shadow */
}
.form-check{
  margin-left: 20px;
}
.form-check-input:hover {
  background-color: #9c98cc; /* Change the background color on hover */
}

/* Add custom CSS for the search button */
.col-md-2 button {
  text-align: center;
  width: 100%;
  background: linear-gradient(45deg, #d063ff, #e85ecf);
  /* Fallback for older browsers */
  background: -webkit-linear-gradient(45deg, #d063ff, #e85ecf);
  background: -moz-linear-gradient(45deg, #d063ff, #e85ecf);
  background: -o-linear-gradient(45deg, #d063ff, #e85ecf);
  background: -ms-linear-gradient(45deg, #d063ff, #e85ecf);
  color: #fff; /* Set text color to white */
  outline: none;
}
.col-md-2 button:hover {
  background: linear-gradient(45deg, #4e0b6b, #d58d53);
  width: 100%;
}
/* Add custom CSS for the dropdown button width */
#employmentTypeDropdown,
#listedAnyTimeDropdown,
#salaryGradeDropdown,
#featuredJobsDropdown {
  width: 100%; /* Set the width as needed */
  max-width: 400%;
  padding: 10px;
  background-color: none;
  border-radius: 50px;
  border: 1px solid #ffffff; /* Add a border */
  color: #ffffff; /* Add text color */
}

/* Add custom CSS for the dropdown button hover effect */
#employmentTypeDropdown:hover,
#listedAnyTimeDropdown:hover,
#salaryGradeDropdown:hover,
#featuredJobsDropdown:hover {
  background: linear-gradient(45deg, #4e0b6b, #d58d53);
  width: 100%;
  color: #fff;
  border: none;

}

/* Add custom CSS for the dropdown menu */
.dropdown-menu {
  align-items: center;
  font-size: 12px;
  margin-top: 10px;
  width: 200%; /* Set the width as needed */
  max-width: 300px; /* Set a maximum width if desired */
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #ffffff; /* Add a border */
  color: #122238; /* Add text color */
  /*box-shadow: 0 10px 20px rgba(28, 27, 50, 0.2); /* Add box shadow */
}
/* Job List*/
.custom-card {
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid #e9e9ea !important;
  backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(50px);
    background: linear-gradient(70deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding:5px;
 
}

.custom-card:hover {
  box-shadow: 0 2px 5px #c6d7ea;
}

.custom-card-body {
  padding: 1.25rem;
}

.custom-card-title {
  color:#000000;
    /* You may add additional styling as needed */
  font-size: 30px;
  margin-bottom: 2px;
  font-weight: bold;
}
.custom-card-description{
  margin-bottom: 5px;
  font-size: 20px;
  color: #8f8f8f;
}

.custom-icons-description {
  margin-top: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #6c757d;
}

.custom-post-time {
  font-size: 0.875rem;
}

.custom-description {
  margin-top: 0%;
}

.custom-card-description-justify-content-left {
  margin-bottom: 0.25rem;
}

.custom-text-card {
  margin-top: 1rem;
}

.custom-btn{
  background-color: #fca475;
  border:none;
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
}
.custom-bton {
  border-color:#fca475;
  color:#fca475;
  width: 100%;
  border-radius: 10px;
  margin-top: 5px;
}

.custom-btn:hover {
  color:#ffffff;
  background-color: #9c98cc;
}
.custom-bton:hover {
  border-color:#9c98cc;
  color:#9c98cc;
}
/*.bi-heart-half,
.bi-bookmark-plus{
  color: #fca475;
}
.bi-heart-half:hover,
.bi-bookmark-plus:hover{
  color: #9c98cc;*/

/*Tags*/
.tags-card-body{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(50px);
  background: linear-gradient(70deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  border-radius: 20px;
  margin-top: 10px;
}
.tags_bar {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tag {
  margin: 5px;
  padding: 8px;
  background: linear-gradient(90deg, #ed7bce, #ce8fdb);
  border-radius: 20px;
  display: flex;
  align-items: center;
  color: #fff;
}

.tag i {
  margin-right: 5px;
}
.text-end{
  font-size: 15px;
  color:#000000;
}

/*
.page-link {
  color: #000000;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.page-link:hover {
  z-index: 2;
  color: #ffffff;
  text-decoration: none;
  background-color: #fb675f;
  border-color: #fb675f;
}

.page-link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item.disabled .page-link {
  color: #6c757d;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}*/
.scrollable-container {
  max-height: 500px; /* Adjust the maximum height as needed */
  overflow-y: auto;
}
.content{
  background-color: transparent;
  border: none;
}
.gotopbtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  font-size: 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(50px);
  background: linear-gradient(70deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  /*background-image: url("images/Untitled-1.jpg");*/
  background-position: center;
  background-size: cover;
    padding: 50px;
    border-radius: 20px;
   
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #464646;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #464646;
	text-decoration: none;
	font-weight: 300;
	color: #464646;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #464646;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #464646;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #ffffff;
	background-color: #4e4e4e;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.dropdown-country .select_option select{
  padding: 10px;
  box-shadow: none !important;
  cursor: pointer;
  font-size: 12px;
  border: none;
  margin-top: 3px;
}

.dropdown-country .select_option select:first-child{
  border-color: #ababab;
}

.dropdown-country .select_option select:nth-child(2){
  border-color: #ffffff;
}

.dropdown-country .select_option select:last-child{
  border-color: #ffffff;
}