::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #898dff, #df5aff, #fb675f, #e89568, #122238);
  border-radius: 8px;
  border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #df5aff, #fb675f, #e89568, #122238, #898dff);
}
body{
  background: linear-gradient(45deg, rgba(137, 141, 255, 0.1), rgba(223, 90, 255, 0.1), rgba(251, 103, 95, 0.1), rgba(232, 149, 104, 0.1), rgba(18, 34, 56, 0.1));
  /* backdrop-filter: 20px; */
  color: #20272F;
}
.profile-card{
  border: 0px;
  box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.1);
}
#editPFP{
  height: 40px; width: 40px; position:absolute; top: 70%; left: 70%;
  background-color: #898dff;
  color: white;
}
#profilePic{
  object-fit: cover; height: 125px; width: 125px; border: solid 4px #898dff;
  padding: 4px;
}
#editIntro{
  color: #fb675f;
  border-color: #fb675f !important;

}
#introName{
  color: #fb675f;
}
.card{
  overflow-y: hidden;
}
.card:hover{
  overflow-y: auto;
}
.card-headers{
  color: #e89568;
}
.skills-item {
  display: inline-block;
  max-width: 100%;
  /* Occupy the full width of the container */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 3px 8px !important;
  border-radius: 20px;
  margin: 5px;
  color: #20272F;
  border: 1px solid #20272F;
  margin: 0px;
}


.bio {}

#editBasicInfo{
  position: absolute; top: 10px; right: 10px;
  color: #fb675f;
}

#editWork{
  position: absolute; top: 15px; right: 17px;
  color: #fb675f;
}